TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_ID=
TELEGRAM_PRIVATE_CHAT_ID=
ENABLE_PRIVATE_ALERTS=true
TELEGRAM_GROUP_CHAT_ID=
ENABLE_GROUP_ALERTS=false
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_WS_URL=
HELIUS_API_KEY=
BIRDEYE_API_KEY=
TOKEN_SYMBOL=BGUY
TOKEN_MINT=
TOKEN_DECIMALS=6
QUOTE_SYMBOL=SOL
QUOTE_MINT=So11111111111111111111111111111111111111112
PRICE_URL=
CHART_URL=
BUY_URL=
TWITTER_URL=
WEBSITE_URL=
TELEGRAM_URL=
MIN_ALERT_USD=25
BIG_ALERT_USD=500
WHALE_ALERT_USD=2500
POLL_INTERVAL=20
